{{ define "main" }}
    <div class="container my-0 py-4">
      <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        {{ range .Site.Data.links }}
          <div class="col">
            <a href="{{ .url }}" class="btn btn-outline-danger btn-lg w-100 py-4 d-flex flex-column align-items-center justify-content-center" target="_blank" rel="noopener noreferrer">
              <i class="{{ .icon }} fs-1 mb-2"></i>
              <span class="fw-bold">{{ .name }}</span>
            </a>
          </div>
        {{ end }}
      </div>
    </div>
{{ end }}